body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none; /* 去掉下划线 */
}

.message {
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.card-container {
    display: flex;
    gap: 50px;
    position: relative;
}

.card {
    position: relative;
    width: 150px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1) 10px,
        transparent 10px,
        transparent 20px
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    border:2px solid white; 
}

.card-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
}

.pink-card:hover {
    box-shadow: 0 0 20px 5px rgba(255, 182, 193, 0.8);
}

.blue-card:hover {
    box-shadow: 0 0 20px 5px rgba(173, 230, 179, 0.8);
}

.card:hover .card-text {
    opacity: 1;
}

.pink-card {
    background-color: pink;
}

.blue-card {
    background-color: rgb(173, 230, 192);
}
